/*tela desktop/laptop*/
@media screen and (min-width: 992px) {
    main {
        padding: 4% 0.5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .container {
        padding: 5%;
        width: 45vh;
        height: 45vh;
        justify-self: center;
    }

    .container-menu {
        display: flex;
        align-items: center;
        gap: 2em;
    }

    .imgCasa {
        padding: 0px;
    }

    .btnMenu {
        display: none;
    }
    
    .menu {
        display: none;
    }

    .menuDesktop {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2em;
    }

    .menuDesktop-opcoes {
        list-style: none;
        display: flex;
        gap: 2em;
        white-space: nowrap;
    }

    .menuDesktop-btnCadastrar {
        padding: 2%;
        white-space: nowrap;
        background: none;
        border: 3px solid white;
        color: white;
        border-radius: 20px;
    }

    .menu-paginas {
        display: flex;
        gap: 1em;
    }

    .menu-paginas > a {
        text-decoration: none;
        color: white;
    }

    .container-footer {
        display: flex;
        align-items: center;
        gap: 1em;
    }
}

/*tela tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        padding: 10% 2%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .menu {
        width: 30%;
    }

    .container {
        justify-self: center;
    } 

    .menuDesktop {
        display: none;
    }

    .menu-paginas {
        display: none;
    }
}